@model Guild.ViewModels.GuildViewModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Редактировать цех";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="w3-padding  w3-container w3-white w3-margin w3-round" style="overflow:visible; margin-bottom:50px!important;">
    <div class="w3-card-2 w3-blue w3-round w3-display-container w3-show-inline-block" style="width:50px; height:50px; margin-top:-25px; text-align:center"><img src="~/img/user.png" class="w3-display-middle" /></div>
    <h4 class="w3-show-inline-block" style="position:relative; top:-12px; padding-left:5px;">Редактировать цех</h4>
    <form method="post" asp-controller="Admin" asp-action="EditGuild" class="form w3-margin">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="input-container">
            <input asp-for="GuildId" hidden/>
            <input asp-for="Name" class="w3-input input-field" required />
            <label asp-for="Name"></label>
            <span asp-validation-for="Name"></span>
        </div>
        <input type="submit" class="w3-button w3-right w3-green w3-text-white" value="Редактировать цех" />
    </form>
</div>