.shadow-border {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar {
    width: 250px;
    background-color:black !important;
}

    .sidebar > ul > li {
        list-style-type: none;
        padding-bottom: 16px;
    }

    .sidebar ~ #main {
        margin-left: 250px;
    }

    .sidebar > ul > li > a > span {
        display: inline-block;
    }
body {
    background-color: #f1f1f1;
}

.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.form {
    margin-top: 20px;
}

    .form > div {
        position: relative;
        margin-bottom: 24px !important;
    }


        .form > div > label {
            opacity: 0.5;
            position: absolute;
            font-family: Arial;
            top: 12px;
            left: 0px;
            transition: all .1s ease-in-out;
            -moz-transition: all .1s ease-in-out;
        }

        .form > div > input {
            width: 100%;
            padding: 10px;
            outline: none;
        }

            .form > div > input:focus {
                border: 2px solid dodgerblue;
            }

                .form > div > input:focus + label {
                    opacity: 1;
                    font-size: 14px;
                    top: -20px;
                    left: 0px;
                }

            .form > div > input:valid {
                background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: right 16px top 12px;
            }

                .form > div > input:valid + label {
                    opacity: 0.5;
                    font-size: 12px;
                    top: -20px;
                    left: 0px;
                }

            .form > div > input:invalid:not(:focus):not(:placeholder-shown) {
                border-bottom-color: red;
            }

                .form > div > input:invalid:not(:focus):not(:placeholder-shown) + label {
                    opacity: 1;
                    font-size: 12px;
                    color: red;
                    top: -20px;
                    left: 0px;
                }

            .form > div > input:invalid:focus:not(:placeholder-shown) ~ .requirements {
                max-height: 200px;
                padding: 0 30px 20px 50px;
            }
